/* Windows */
.window {
    padding: 4px;
    background-color: rgb(192, 192, 192);
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
    position: relative;
    margin-bottom: 16px;
}

.windowHeader {
    background-color: #000080;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 20px; 
    display: flex;
    align-items: center;
    padding: 2px;
}

.selectedWindow .windowHeader {
    background-color: #1084d0;
}

.windowTitle {
    flex-grow: 1;
    text-align: center;
}

.windowClose {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #c0c0c0;
    color: black;
    text-align: center;
    line-height: 16px;
    margin-right: 2px;
    font-size: 14px;
    cursor: pointer;
}

.windowContent {
    background-color: #fff;
    padding: 8px;
    border: 1px solid #808080;
    height: calc(100% - 24px);
    overflow: auto;
}

.windowBlueHighlight {
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff,
        0 0 0 2px #000080,
        0 0 0 4px #1084d0;
}

@media (max-width: 768px) {
  .window {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
    transform: none !important;
  }

  .windowHeader {
    height: 30px;
    font-size: 16px;
  }

  .windowClose {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
  }

  .windowContent {
    height: auto;
    max-height: 70vh;
    overflow-y: auto;
  }
}
