@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
body {
  font-family: 'Publico Text Mono', monospace;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
.text-carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: #f4eec9;
  padding: 2px 0;
  height: 20px;
  display: flex;
  align-items: center;
}

.text-carousel {
  display: inline-flex;
  white-space: nowrap;
  font-size: 18px;
  line-height: 1;
}

.text-carousel-item {
  display: inline-block;
  padding: 0 20px;
}
a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}



