.logoLink {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .logoLink:hover {
    transform: scale(1.05);
  }
  
  .logo {
    object-fit: contain;
    object-position: left;
    border: 0.5px solid #454545;
    border-radius: 2px;
  }