.logoLink {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .logoLink:hover {
    transform: scale(1.05);
  }
  
  .logo {
    object-fit: contain;
    object-position: left;
    border: 1px solid #000000;
    border-radius: 4px;
  }